.top_bar {
  height: var(--top_bar-hight);
  width: 100%;
  background: var(--primary);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
}

.top_bar .inner {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top_bar .inner span {
  font-family: var(--circular);
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  color: #fff;
  opacity: 0.7;
}

.wrapper {
  padding-top: var(--top_bar-hight);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

header {
  margin-top: 13vh;
  width: var(--content-width);
  max-width: 1400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: var(--content-width);
  max-width: var(--content-max-width);
}

header nav a {
  font-family: var(--circular);
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  color: var(--text);
  text-decoration: none;
}

article {
  width: var(--content-width);
  max-width: var(--content-max-width);
}

img, svg {
  width: 10%;
}