/* Den generellen Content stylen */
article {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

/* Den header bzw. heading stylen */
article .header {
  padding-bottom: 5vh;
  border-bottom: 9px solid var(--primary);
  margin-bottom: 10vh;
  width: var(--content-width);
  max-width: var(--content-max-width);
}

/* Die subheading stylen */
article .header .subheading {
  margin-top: 5px;
  margin-bottom: 20px;
}

/* Den Inhalt an die Breite anpassen */
article section.impressum {
  width: var(--content-width);
  max-width: var(--content-max-width);
}

/* Heading Abstände für gute Lesbarkeit anpassen */
h2 {
  margin-top: 60px;
}

h3 {
  margin-top: 35px;
  margin-bottom: 5px;
}

ul {
  padding-left: 30px;
}