/* CSS File für alle Seitenübergreifenden Style wie z.B. Farbvariablen und Absatzformate sowie header und footer */
/* Einbindung einer weiteren Schriftart mit mehreren Schriftschnitten */
@font-face {
  font-family: "Circular";
  src: url('../font/Circular/lineto-circular-book.woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Circular";
  src: url('../font/Circular/lineto-circular-bookItalic.woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Circular";
  src: url('../font/Circular/lineto-circular-medium.woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Circular";
  src: url('../font/Circular/lineto-circular-bold.woff');
  font-weight: 600;
  font-style: normal;
}

/* margin, padding und box-sizing für alle Elemente zurücksetzen, sodass man sich nicht mit dem default values rumschlagen muss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variablen festlegen */
:root {
  /* Font/text values */
  --utopia: 'utopia-std', serif;
  --circular: 'Circular', Arial, sans-serif;
  /* Positioning */
  --content-width: 90%;
  --content-max-width: 1100px;
  --top_bar-hight: 50px;
  /* Colors */
  --primary: #85AD4C;
  --text: #231F20;
  --bg: #FBFAF6;
}

/* Absatzformate für die Headings */
h1 {
  font-family: var(--utopia);
  font-weight: 700;
  font-size: 65px;
  line-height: 75px;
  color: var(--text);
  margin-bottom: 0px;
}

h2 {
  font-family: var(--utopia);
  font-weight: 700;
  font-size: 35px;
  line-height: 43px;
  color: var(--text);
  margin-bottom: 20px;
}

h3 {
  font-family: var(--utopia);
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  color: var(--text);
}

h4 {
  font-family: var(--utopia);
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: var(--text);
}

/* Weitere Absatzformate */
.body_text {
  font-family: var(--circular);
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: var(--text);
}

.subheading {
  font-family: var(--circular);
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: var(--text);
}

.caption {
  font-family: var(--circular);
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
  color: #A5A5A5;
}

/* Style für alle Links */
a {
  text-decoration: none;
  color: var(--primary);
  transition: .2s ease;
}

/* Style für alle Links, wenn man mit der Maus darüber geht */
a:hover {
  text-decoration: underline;
}

/* Hintergrund setzen */
body {
  background: var(--bg);
}

/* Allen Inhalt horizontal mittig ausrichten */
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/* Den Header stylen */
header {
  width: var(--content-width);
  max-width: 1400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10vh 0 6vh;
  border-bottom: 1px solid #ccc;
  margin-bottom: 8vh;
}

/* Die Navigation stylen */
header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: var(--content-width);
  max-width: var(--content-max-width);
}

/* Alle Unterpunkte des Navs stylen */
header nav>* {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* Den Link mit der classe Active stylen */
header nav a.active {
  background-color: var(--primary);
  color: #fff;
  padding: 1% 3%;
}

/* Die Links im Nav in header und footer anpassen */
nav a {
  font-family: var(--circular);
  font-size: 18px;
  line-height: 26px;
  text-decoration: none;
}

/* Die Links im header anpassen */
header nav a {
  font-weight: 600;
  color: var(--text);
}

/* Die Links im Footer anpassen */
footer nav a {
  font-weight: 500;
  color: #fff;
}

/* Den Container für das Logo im Header anpassen */
header nav .logo {
  padding: 0 5%;
  margin-top: 40px;
}

/* Das Logo im Header anpassen */
header nav .logo img {
  width: 100%;
}

/* Den Footer stylen */
footer {
  width: 100%;
  background-color: var(--text);
  height: 120px;
  margin-top: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* Den inneren Teil des Footers stylen, sodass ein Rand nach außen ist */
footer .inner {
  width: var(--content-width);
  max-width: var(--content-max-width);
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Einen Abstand zwischen den beiden Links im Footer hinzufügen */
footer .inner nav a:first-child {
  margin-right: 30px;
}